<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django QuerySearch</title>
</head>
<body>
    <h1>Search and Filter</h1>
    <form action="" method="GET" class="form">
        <input type="text" name="n" placeholder="Search...." value={{query}}>
        <select name="category" id="cat">
            <option value="">All Category</option>
            <option value="Tech" {% if category == "QUERYSET FILTER" %}Selected{% endif %} >QUERYSET FILTER</option>
            <option value="INDIA"{% if category == "INDIA" %}Selected{% endif %} >INDIA</option>
            <option value="TEST"{% if category == "TEST" %}Selected{% endif %} >TEST</option>
        </select>
        <button type="submit">Search</button>
    </form>
    <ul>
        {% for post in post  %}
            <li>{{post.title}}</li>
            <li>{{post.content}}</li>
            <li>{{post.category}}</li>
        {%empty%}
            No record found
        {% endfor %}
    </ul>

</body>
</html>