<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Cache</title>
</head>
<body>
    <h2>Template Cache</h2>
    {% load cache %}
    {% cache 10 user_list_section %}
    <table border="1" cellpading='0'>
         <tr>
            <th>Name</th>
            <th>email</th>
        </tr>
        {% for user in users  %}
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
            </tr>
        {% endfor %}
    </table>
    {% endcache %}
</body>
</html>