<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
</head>
<body>
    <h1>Blog filter page</h1>
    {% comment  %} Text filter {% endcomment %}
    {% comment "TextFilter" %} | upper, lower, capitalize, title, capfirst, truncatechars, truncatewords{% endcomment %}
<p><b>Title :</b> {{ post.title|title }}</p>
<p><b>Description :</b> {{ post.description|upper }}</p>
<p><b>Description :</b> {{ post.description|lower }}</p>
<p><b>Description :</b> {{ post.description|capfirst }}</p>
<p><b>Description :</b> {{ post.description|truncatechars:10 }}</p>
<p><b>Description :</b> {{ post.description|truncatewords:2 }}</p>
<br><hr>
{% comment "Number filter" %} add, divisibleby{% endcomment %}
<p><b>Original Price :</b> {{post.price}}</p>
<p><b>Upadeted price:</b>{{post.price|add:5}}</p>
<p><b>DivisionUpdatedPrice :</b>{{post.Number|divisibleby:7}}</p>

{% comment "pluralize" %}{% endcomment %}
<p><b>pluralize: </b>{{post.Number}} Number{{post.Number|pluralize}} </p>

{% comment "Encoding and formating" %}{% endcomment %}
<p><b>EncodeTitle :</b> {{ post.title|urlencode }}</p>
<p><b>FormatingTitle :</b> {{ 123.897465132| floatformat:3 }}</p>

</body>
</html>