<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Cache</title>
</head>
<body>
    <table border="1" cellpading='0'>
         <tr>
            <th>Name</th>
            <th>email</th>
        </tr>
        {% for user in users  %}
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>