<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My Portfolio</h1>
    <h2>Student Data</h2>
    {% if students %}
       <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
            </tr>
        </thead>
        
        <tbody>
        {% for student in students  %}
        <tr>
            <td>student name = {{student.name}}</td>
            <td>student City = {{student.city}}</td>
        </tr>
        {% endfor %}
        </tbody>
       </table>
       {% else %}
      <p> No student data available</p>
    {% endif %}
</body>
</html>